.container
  .row
    .col-xs-4

    .col-xs-4
      .roster-bg
        .roster
          .roster-selection.p1
            .title P1

          .roster-selection.p2
            .title P2

          .roster-selection.p3
            .title P3

          .roster-selection.p4
            .title P4

          = image_tag 'roster.png'

    .col-xs-4

